.card_link {
    padding: 50px;
    text-align: center;
    background-color: rgb(246, 251, 255);
}
.card_link:hover {
    transform: scale(1.03);
    background-color: rgb(211, 232, 250);
    transition: 0.2s;
}